.box{
  
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    width: 30%;
    
}
.button{
    background-color: #d1c4e9 ;
    color: #000;
    border: 1px solid #000;
}
.button:hover{
    background-color: #b39ddb ;
    color: #000;
    border: 1px solid #000;
    transition: 0.2s;
}